.box {
	height: 100px;
	/* background: black; */
	border: 1px solid black;
	/* color: white; */
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.neon {
	background-color: #18dcff;
}
.green {
	background-color: greenyellow;
}
.wgreen {
	background-color: #32ff7e;
}
.rosy {
	background-color: #f5cd79;
}
.turbo {
	background-color: #f9ca24;
}
.lblue {
	background-color: #55efc4;
}

.header,
.body,
.hero,
.bar,
.footer {
	background-color: gray;
	margin-bottom: 10px;
}